<!DOCTYPE html>
<html>
<head>
  <link rel='shortcut icon' type='image/x-icon' href='/public/favicon.ico' />
  <style>body { font-family: "Georgia", serif; } </style>
  <title>hypertextu.al</title>
</head>
<body>
<h1><a href="/">hypertextu.al</a></h1>
<hr />

<%= yield %>

<hr />
<a href="/blog_posts/allposts">All Posts</a>
<br /><br />
<small>Please direct all hatemail to <a href="https://twitter.com/angrysql">@angrysql</a>. This blog powered by <a href="https://github.com/angrysql/hypertextual">hypertextual</a>.</small>
</body>
</html>
