<!DOCTYPE html>
<html>
<head>
  <style>body { font-family: "Georgia", serif; } </style>
  <title>hypertextu.al</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><a href="/">hypertextu.al</a></h1>

<%= yield %>

<br /><br />
<small><a href="https://twitter.com/angrysql">Please direct all hatemail to @angrysql on Twitter.</a></small>
</body>
</html>
